// Custom variables
$lh-l: 1.8;
$border-light: #edeff1;
$color-dark: #000;

$base-heading-font-weight: 700;
$base-heading-color: $color-dark;
$base-h2-line-height: 1.4;
$base-link-hover-text-decoration: none;
$base-body-color: #474748;

$global-font-family: system-ui;
$global-link-color: $color-dark;
$global-link-hover-color: $global-primary-background;
$global-xxlarge-font-size: 2rem;
$global-xlarge-font-size: 1.75rem;
$global-small-font-size: 0.875rem;
$global-muted-color: #A9AAAB;

$icon-link-color: $global-primary-background;
$icon-link-hover-color: $color-dark;
$icon-link-active-color: darken($global-primary-background, 5%);
$link-muted-hover-color: $color-dark;

$container-max-width: 1100px;
$container-small-max-width: 800px;
$grid-large-gutter-horizontal: 100px;

$card-small-body-padding-horizontal:            25px;
$card-small-body-padding-vertical:              25px;
$card-default-title-color: $color-dark;
$card-title-font-size:                          1.25rem;
$accordion-title-font-size: 1.125rem;

$article-title-line-height: 1.4;

$offcanvas-bar-color-mode: dark;
$offcanvas-bar-background: #fff;

$heading-hero-font-size: 1.6rem;
$heading-hero-line-height: 1.3;
$heading-hero-font-size-s: 2rem;
$heading-hero-line-height-s: 1.3;
$heading-hero-font-size-m: 2.75rem;
$heading-hero-line-height-m: 1.4;

$text-lead-font-size: 1.25rem;

$navbar-background: #fff;
$navbar-nav-item-color: $base-heading-color;
$navbar-nav-item-hover-color: #000;
$navbar-nav-item-active-color: #000;
$navbar-nav-item-font-size: 13px;
$navbar-nav-item-text-transform: uppercase !default;
$navbar-toggle-color: $base-heading-color;
$navbar-toggle-hover-color: #000;
$subnav-item-font-size: $global-small-font-size;
$subnav-item-text-transform: uppercase;
