<div style="border: solid; border-radius: 10px; border-color: #000045; margin-bottom: 30px;">
    <div style="padding: 10px 10px 0px 10px">
        <p style="width: 100%;">Due to the festive period, our research team will have limited availability and there may be delays in processing new requests and responding to support requests. If you have any urgent queries or support needs, please email us at <a href="mailto:support@cue.band" target="_blank" style="font-size: 20px;">support@cue.band</a>. We will return to our normal availability on Wednesday, 4th January 2023.</p>
        <p style="width: 100%;">Thank you for your understanding and your continued support, we hope you have a wonderful holiday season.</p>
    </div>
</div>